#searchTabs{
	width:25em;
	height:8em;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
}
.ui-tabs-nav{
	height:1.8em;
}
.ui-tabs-li{
	height:1.65em;
}
.ui-tabs-a{
	font-size:0.8em;
	font-weight:600;
}
input[name=searchStr]{
	position:absolute;
	top:4em;
	left:1.5em;
}
input[name=transferButton]{
	height:1.7em;
	position:absolute;
	top:4em;
	right:1.5em;
	padding-top:0.2em;
}